.img-slider:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: linear-gradient(to right, #010524 10%, rgba(21, 21, 21, 0) 100%);
}


#slider-img{
    height: 90vh;
    width: 100vw;
}

@media (max-width: 600px) {
    #slider-img{
        height: 40vh;
        width: 100vw;
    }
  }